<!DOCTYPE html>
<html>
<head>
	<title> Anjali Tiwari </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<center-left>

		<br>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{% url 'home_page' %}">HOME</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				  <ul class="navbar-nav mr-auto ">
					<li class="nav-item">
					  <a class="nav-link" href="{% url 'resume' %}" >RESUME</a>
					</li>
					<li class="nav-item active ">
					  <a class="nav-link " href="{% url 'project_index' %}">PROJECTS</a>
					</li>

					<li class="nav-item">
					  <a class="nav-link" href="#">BLOG</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://medium.com/@anjalitiwari02199">MEDIUM</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.linkedin.com/in/anjali-tiwari-55106586/">LINKEDIN</a>
					</li>
				  </ul>
				</div>
			</div>

		</nav>

			<div class="container">
				{% block page_content %}{% endblock %}
			</div>

	</center-left>
	

	
	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> </body>
</head>