{% extends 'base.html' %}
{% load static %}
{% block page_content %}


    <div class="container">
		<center>
        <div class="row">
            <div class="col-lg-12 text-center my-auto">

                <h1 class="s-color" style=" font-size:50px; background-color:black; color:white "><br><br>Anjali Tiwari</h1>
				<h2 class="s-color" style='font-family: Fantasy;'>
					<hr> DATA SCIENTIST | WRITER | WELLBEING ENTHUSIAST <hr></h2>

				
			<div class="col-lg-12 text-center">
				<h3 class="s-color"><br>About the Author</h3>
				<p style= "font-family: calibri" > I am a Data Enthusiast Model,<br>
				currently feeding Front-end technologies into my model to develop mobile and web application.<br>
				To keep a balanced state of mind I jump rope, write poems, play piano and do creative stuff.<br>
				Inshort, constantly on the look-out for learning no matter the field!</p>

			</div>
			
				
			<div class="col-lg-12 text-center">
				<br><br><button class="btn btn-outline-primary my-2">
				<a class="nav-link" href="https://forms.gle/itDxZnxXnPGRLp9y9">SIGN UP FOR MY EMAIL LIST! </a></button>
			</div>
        </div>
		</div>
	</div>

	
<footer class="text-muted">
  <div class="container text-center pt-5">
    <p><br><br><br><br><br><br><br><br><hr><marquee>Ⓒ Anjali Tiwari {% now {Y} %}</marquee><hr>
    </p>
  </div>
</footer>
	
{% endblock %}